<h1>Productos</h1>
<hr>

<div class="card-columns">

    <div class="card">
        <img src="assets/img/7.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">Limpiador</h6>
            <h6 class="card-title">Aseo hogar</h6>
            <p class="card-text"><small class="text-muted">id: 00000</small></p>
            <p class="card-text">Vendido por: </p>
            <p class="card-text">123.500 </p>
            <p class="card-text"><small class="text-muted">3 unidades en existencia</small></p>
        </div>
    </div>


    <div class="card">
        <img src="assets/img/fab.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">Jabon</h6>
            <h6 class="card-title">Aseo hogar</h6>
            <p class="card-text"><small class="text-muted">id: 00001</small></p>
            <p class="card-text">Vendido por: </p>
            <p class="card-text">18.500 </p>
            <p class="card-text"><small class="text-muted">7 unidades en existencia</small></p>
        </div>
    </div>


    <div class="card">
        <img src="assets/img/jabon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">Jabon manos</h6>
            <h6 class="card-title">Aseo personal</h6>
            <p class="card-text"><small class="text-muted">id: 00003</small></p>
            <p class="card-text">Vendido por: </p>
            <p class="card-text">12.000 </p>
            <p class="card-text"><small class="text-muted">8 unidades en existencia</small></p>
        </div>
    </div>


    <div class="card">
        <img src="assets/img/pasta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">Crema dental</h6>
            <h6 class="card-title">Aseo personal</h6>
            <p class="card-text"><small class="text-muted">id: 00010</small></p>
            <p class="card-text">Vendido por: </p>
            <p class="card-text">8.000 </p>
            <p class="card-text"><small class="text-muted">18 unidades en existencia</small></p>
            <!--<button type="button" class="btn btn-outline-primary">Agregar en existencia</button>
            <button type="button" class="btn btn-outline-primary">Eliminar</button>-->

        </div>
    </div>

</div>